.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    padding: 0px 100px;
}

.label {
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-right: 50px;
    font-weight: 800;
}
.menu {
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
    justify-content: center;
    font-weight: 600;
}
.menu-one,
.menu-two,
.menu-three,
.menu-four {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.2s;
}
.navbar .icon-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}

.icon-item {
    position: relative;
    cursor: pointer;
    padding: 5px;
    color: #333;
}
.menu-one:hover,
.menu-two:hover,
.menu-three:hover,
.menu-four:hover {
    color: #A749FF;
}

/* Style cho Badge (vòng tròn đỏ) */
/* .badge {
    position: absolute;
    top: -5px;
    right: -10px;

    background-color: #e53995; */
    /* Màu đỏ hồng */
    /* color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    min-width: 15px;
    height: 15px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
} */